*{
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* flex-wrap: wrap; */
    /* column-gap: 20px;
    row-gap: 40px; */
    gap: 10px;
}
.item{
    width: 100px;
    height: 100px;
    text-align: center;
   
}
.img{
    width: 100%;
}
.item1{
    background-color: plum;
    /* order: 4; */
}
.item2{
    flex-grow: 2;
    /* flex-shrink: 5; */
    background-color: powderblue;
}
.item3{
    /* flex-shrink: 10; */
    flex-basis: 400px;
    background-color: peachpuff;
}
.item4{
    /* order: 3; */
    background-color: palevioletred;
}