body{
    background-image: url('cool-anime-character-transparent-background-ai-generative-free-png.webp');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 300px 700px;
    opacity: 0.1s;
    background-attachment: fixed;
    /* background-attachment: scroll; */
}
.prh
{
    text-align: center;
    font-weight: 900;
    background-size: 300PX 500PX;
    /* color: white; */
}
