/* .first > a{
    background-color: aquamarine;
} */
/* .first a{
    background-color: aquamarine;
} */

/* .a + p{
    background-color: rosybrown;
} */

/* .a ~ p{
    background-color: rosybrown;
} */



